<!DOCTYPE html>
<html>
  <!-- Header -->
  <%= render 'layouts/header' %>

  <!-- Navbar -->
  <%= render 'layouts/navbar' %> 
  
  <body>
    <%= yield %>
    <%= render 'layouts/modal' %>
  </body>

  <!-- Footer -->
  <%= render 'layouts/footer' %> 
</html>
